.register {
  height: 90vh;
  width: 90vw;
  background-color: aliceblue;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}

.upperLine {
  color: black;
}

.lowerLine {
  color: green;
}

.register-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  background-color: #15803d;
  color: white;
  margin-top: 25px;
}
